In [2]:
#https://docs.microsoft.com/en-us/sql/connect/python/pyodbc/step-3-proof-of-concept-connecting-to-sql-using-pyodbc?view=sql-server-ver15

# Import Modules

In [3]:
#import modules
import pyodbc

# Connect to server using WindowsAuth

In [4]:
# set-up connection
cnxn = pyodbc.connect(r'Driver=SQL Server; Server=localhost; Database=AdventureWorks2019; Trusted_Connection=yes;')
cursor = cnxn.cursor()

# Execute a test query on the database

In [5]:
#Sample select query
# This function accepts a query and returns a result set, which can be iterated over with the use of cursor.fetchone()
cursor.execute("SELECT @@version;") 

row = cursor.fetchone() 

while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2019 (RTM-CU11) (KB5003249) - 15.0.4138.2 (X64)
	May 27 2021 17:34:14
	Copyright (C) 2019 Microsoft Corporation
	Enterprise Evaluation Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 19043: ) (Hypervisor)

# CRUD commands

## Create

In [6]:
print ('Setting up CRUD commands...')

# Set up database
tsql =("USE AdventureWorks2019;")

try:
    with cursor.execute(tsql):
        print ('Successfully selected database!')
except:
    print("Error in code. Could not select db.")

Setting up CRUD commands...
Successfully selected database!

In [7]:
print ('Creating table...')

#Create Table
tsql =("CREATE TABLE table_py( id INT PRIMARY KEY, Name VARCHAR(100), Date DATE, Age INT);")

try:
    with cursor.execute(tsql):
        print ('Successfully created table!')

except:
    print("Error in code. Could not create db.")

Creating table...
Successfully created table!

## Update

In [8]:
print ('Inserting a new row into table...')

#Insert Query
tsql = "INSERT INTO dbo.table_py (id, Name, Date, Age) VALUES (?,?,?,?);"

try:
    cursor.execute(tsql,'1','Jake','10-09-2020','23').rowcount  
    cnxn.commit()
    print ('Successfully Inserted!')
    print('Rows inserted: ' + str(tsql))

except:
    print("Error in code. Could not insert.")

Inserting a new row into table...
Successfully Inserted!
Rows inserted: INSERT INTO dbo.table_py (id, Name, Date, Age) VALUES (?,?,?,?);

In [9]:
#Update Query
print ('Updating field for record...')

tsql = "UPDATE dbo.table_py SET Name = ? WHERE Name = ?"

with cursor.execute(tsql,'Joe Balog','Jake'):
    print ('Successfully Updated!')

Updating field for record...
Successfully Updated!

## Read

In [10]:
#Read: Select Query
print ('Querying data from table...')

tsql = "SELECT Top(10) * FROM dbo.table_py;"

with cursor.execute(tsql):
    row = cursor.fetchone()
    while row:
        print (str(row[:]))
        row = cursor.fetchone()

Querying data from table...
(1, 'Joe Balog', '2020-10-09', 23)

## Delete

In [11]:
#Delete Query
print ('Deleting Name....')

tsql = "DELETE FROM dbo.table_py WHERE Name = ?"

with cursor.execute(tsql,'Joe Balog'):
    print ('Successfully Deleted!')

Deleting Name....
Successfully Deleted!

In [12]:
#Check the drop
print ('Reading data from table...')

tsql = "SELECT Top(10) * FROM dbo.table_py;"

with cursor.execute(tsql):
    row = cursor.fetchone()
    while row:
        print (str(row[:]))
        row = cursor.fetchone()

Reading data from table...

In [13]:
print ('Drop table...')

# Delete table
tsql =("DROP TABLE IF EXISTS dbo.table_py;")
try:
    with cursor.execute(tsql):
        print ('Successfully dropped existing table!')
except:
    print("Error in code. Could not delete table.")

Drop table...
Successfully dropped existing table!

In [14]:
#Check the drop
print ('Reading data from table...')

tsql = "SELECT Top(10) * FROM dbo.table_py;"

try:
    with cursor.execute(tsql):
        row = cursor.fetchone()
        while row:
            print (str(row[:]))
            row = cursor.fetchone()

except:
    print("Table successfully deleted.")

Reading data from table...
Table successfully deleted.